<div class="d-flex container border mb-3 text-center w-50 justify-content-evenly">
    <div class="p-2 bd-highlight">
        <div class="container"><i class="bi bi-buildings fw-semibold fs-2"></i></div>
        <span class="fs-6">Hotels</span>
    </div>
    <div class="p-2 bd-highlight">
        <div class="container"><i class="bi bi-houses fw-semibold fs-2"></i></div>
        <span class="fs-6">Homestays</span>
    </div>
    <div class="p-2 bd-highlight">
        <div class="container"><span><i class="fa-solid fa-parachute-box fs-2 text-dark"></i><i class="bi bi-clouds fs-2"></i> </span></div>
        <span class="fs-6">Holiday Packages</span>
    </div>
    </div>
    <div class="container border w-75 input-group text-center p-4">
        <input type="text" name="search" id="id1" class="p-4 w-25">
        <input type="date" placeholder="check in" id="id2"> 
        <input type="date" placeholder="checkout" id="id3">
        <select class="fw-semibold">
            <option value="Adult">Adult</option>
            <option value="Children">Children</option>
            <option value="Rooms">Rooms</option>
        </select>
        <button type="search" class="btn btn-primary">Search</button>
    </div>

    
 